service: phishing-console-backend

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    SMTP_HOST: ${env:SMTP_HOST}
    SMTP_PORT: ${env:SMTP_PORT}
    SMTP_USER: ${env:SMTP_USER}
    SMTP_PASS: ${env:SMTP_PASS}
    BASE_URL: ${env:BASE_URL}

functions:
  api:
    handler: index.handler
    runtime: nodejs18.x
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      - httpApi:
          path: /
          method: ANY

plugins:
  - serverless-offline